# Ignore node_modules directory
node_modules

# Ignore build files
dist
build

# Ignore files containing sensitive information
.env

# Ignore text editor files
*.swp
*.swo
*.swn
*.swm
*.swl
*.swo

# Ignore macOS .DS_Store files
.DS_Store

# Ignore IntelliJ project files
.idea
*.iml
*.iws

# Ignore Visual Studio Code settings files
.vscode